<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Raspored</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='main.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body font = arial>
        <input id="myInput" type="text" placeholder="Search..">
        <br>
        <br>
        <table id="raspored">
            <thead>
                <tr>
                    <th>Predmet</th>
                    <th>Tip</th>
                    <th>Nastavnik</th>
                    <th>Grupa</th>
                    <th>Dan</th>
                    <th>Termin</th>
                    <th>Ucionica</th>
                </tr>
            </thead>
            <tbody>
                {% for red in redovi %}
                    <tr>
                        <td>{{red.split(',')[0]}}</td>
                        <td>{{red.split(',')[1]}}</td>
                        <td>{{red.split(',')[2]}}</td>
                        <td>{{red.split(',')[3]}}</td>
                        <td>{{red.split(',')[4]}}</td>
                        <td>{{red.split(',')[5]}}</td>
                        <td>{{red.split(',')[6]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br />
        <div class="holder">
            <div>
                {% for profesor in jedinstveniProfesori %}
                <a id="prof_{{loop.index}}" onclick="filter('{{profesor}}','prof_{{loop.index}}')" href="#">{{profesor}}</a><br>
                {% endfor %}
            </div>
            
            <div>
                {% for ucionica in jedinstveneUcionice %}
                <a id="uci_{{loop.index}}" onclick="filter('{{ucionica}}','uci_{{loop.index}}');" href="#">{{ucionica}}</a><br>
                {% endfor %}
            </div>
        </div>
    </body>
</html>